.div {
  position: absolute;
  width: 856px;
  height: 548px;
  left: 292px;
  top: 158px;
}
.togglelike {
  position: absolute;
  left: 26.98%;
  /* right: 36.98%; */
  /* top: 80.7%; */
  bottom: 107.67%;

  background: rgba(255, 255, 255, 0.69);

  border: 2px solid #999999;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  /* text-decoration-line: underline; */
  text-transform: uppercase;
}
.random {
  position: absolute;
  left: 21.98%;
  /* right: 36.98%; */
  /* top: 80.7%; */
  bottom: 108%;
  color: #999999;
  font-weight: bold;
  font-size: 20px;
  text-decoration-line: underline;
}
.div-2 {
  position: absolute;
  left: 8.8%;
  right: 12.61%;
  top: 21.26%;
  bottom: 60.44%;

  /* body_1 */

  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 151.3%;
  /* or 21px */

  color: #707070;
}
.div-3 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 41.4%;
  bottom: 0%;

  background: #d9d9d9;
}
